* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    width: 70px;
    height: 0px;
    border-width: 0px;
    border-top: 1px solid #007bff;
}

section {
    padding: 58px 0px 58px 0px;
    text-align: center;
}

.section-header {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 0px;
    font-size: 1.9em;
    color: #333;
}

.button-anchor {
    padding: 8px;
    background-color: transparent;
    border: 1px solid #007bff;
    text-decoration: none;
    color: #333;
    transition: all 0.2s;
}

.button-anchor:hover {
    background-color: #007bff;
    color: #e9e9e9;
}

/* Main Header */

.main-header {
    width: 100%;
    height: 600px;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header > h1 {
    margin: 0px;
    padding: 0px;
    color: #007bff;
    font-size: 4.2em;
    text-transform: uppercase;
}

.blue-dot {
    color: #007bff;
}

/* Navigation */

nav {
    position: sticky;
    z-index: 10001;
    top: 0px;
    margin: 0px;
    background-color: #007bff;
}

ul {
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
    flex-basis: 10%;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

/* About me */

.about-me img {
    border-radius: 50%;
}

.about-me p {
    margin: 30px;
    margin-left: 25%;
    width: 50%;
    color: #777;
}

/* Portfolio */

.portfolio {
    background-color: #f2f1ed;
}

.portfolio-wrapper {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-item {
    position: relative;
    flex-basis: 25%;
    height: 200px;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-wrapper .portfolio-item h3 {
    position: absolute;
    background-color: #007bffcc;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 3em;
    color: #fff;
    transition: all 0.2s;
    opacity: 0;
}

.portfolio-wrapper .portfolio-item h3:hover {
    opacity: 1;
}

/* Contact */

form {
    width: 40%;
    margin-left: 30%;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    margin-bottom: 10px;
    flex-basis: 49%;
    min-width: 0%;
}

textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 5em;
}

button[type="submit"] {
    margin: auto;
    font-size: 16px;
}

.social-container {
    margin-top: 10px;
}

.social-icon {
    margin: 50px 20px 20px 20px;
    font-size: 3em;
    color: #007bff;
}

/* Footer */

.main-footer {
    padding: 10px;
    height: 80px;
    background-color: #f2f1ed;
    text-align: center;
}

/* Responsive CSS */

@media (max-width: 992px) {
    .portfolio-item {
        flex-basis: 50%;
    }
}

@media (max-width: 776px ) {
    .about-me img {
        width: 200px;
    }
    
    .portfolio-item {
        flex-basis: 100%;
    }

    input {
        flex-basis: 100%;
    }
}